.mapa{
    border-radius: 10px;
    
    @include mobile{
        max-width: 300px;
    }

    @include mobile2{
        max-width: 200px;
    }
}

.formulario-contacto {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;

    form{
        display: flex;
        flex-direction: column;
    }
}
