.productos{
    background-image: url(../img/grupo-musica.jpg);

    

    .titulos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container{
        .tarjetas{
            display: flex;
            justify-content: center;
            .card{
                transition: transform 0.4s;
                padding: 0.5rem;
                .card-body
                {
                    border: 2px solid black;
                    border-radius: 0 0 5px 5px;
                }

                img{
                    border-top: 2px solid black;
                    border-left: 2px solid black;
                    border-right: 2px solid black;
                }
                &:hover{
                    transform: scale(1.05);
                    box-shadow: rgb(255, 255, 255) 8px 8px,
                }
                
            }
        }
    }
    
}