.productos{
    background-image: url(../img/grupo-musica.webp);

    .titulos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container{
        .tarjetas{
            display: flex;
            justify-content: center;
            .card{
                transition: transform 0.4s;

                &:hover{
                    transform: scale(1.05);
                    box-shadow: rgba(255, 255, 255, 0.897) 8px 8px;
                }
                
            }
        }
    }
}